* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  min-height: 100vh;
}

a:hover {
  font-weight: bold;
  color: azure;
}

a:link {
  color: antiquewhite;
}

a:visited {
  color: green;
}

#page {
  display: grid;
  width: 100%;
  grid-template-areas: "header header header" "nav nav nav" "aside  main main";
  grid-template-rows: 130px 60px 2fr;
  grid-template-columns: 150px 2fr 1fr;
  padding-bottom: 30px;
}

#menu {
  display: grid;
  width: 100%;
  grid-template-areas: "logo buscador iconos";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
}

.img {
  grid-area: logo;
}

.navbar navbar-light bg-light {
  grid-area: buscador;
}

.iconos {
  grid-area: iconos;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: #FF9D00;
}

aside {
  grid-area: aside;
}

@media screen and (max-width: 480px) {
  #page {
    grid-template-areas: "header" "nav" "aside" "main";
    grid-template-columns: auto;
    grid-template-rows: 200px 80px 580px 2fr;
  }
  nav {
    padding-top: 20px;
  }
  aside {
    padding-bottom: 100px;
  }
  #menu {
    grid-template-areas: "logo" "iconos" "buscador";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .iconos {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .tarjeta {
    padding-bottom: 30px;
  }
  .formulario {
    margin-left: none;
  }
}
nav {
  grid-area: nav;
  padding-top: 20px;
}
nav ul {
  background-color: #FF9D00;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
nav ul li {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  color: white;
}

.top {
  display: flex;
  padding-top: 20px;
  top: 0%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.slider-container {
  display: flex;
  padding-top: 20px;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.slider-container img {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
  scroll-snap-align: center;
}

.carrito {
  padding-left: 30px;
}

.secciones {
  font-size: 30px;
  padding-top: 30px;
}

.libros {
  border-color: color #FF9D00;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  padding: 20px;
  border: 2px;
  align-items: center;
  justify-content: center;
}

.tarjeta {
  width: 200px;
}
.tarjeta img {
  box-shadow: 5px 5px 10px gray;
  display: inline-block;
  text-align: center;
}
.tarjeta:hover {
  width: 250px;
}

.redes {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-top: 15px;
}

.nombreredes {
  justify-content: center;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 30px;
}

.titulo {
  font-size: 14px;
  color: color #FF9D00;
  margin-top: 5px;
}

.autor {
  font-size: 14px;
  margin-top: 5px;
}

.precio {
  font-size: 18px;
  font-weight: bold;
  margin-top: 7px;
}

.ranking {
  background-color: color #FF9D00;
  color: white;
  border-radius: 2mm;
  font-size: 14px;
  text-align: center;
  width: 80%;
  margin-top: 10px;
}

.iconos {
  display: flex;
}

h6 {
  color: color #FF9D00;
  font-size: 20px;
  margin-left: 10%;
}

h3 {
  color: color #FF9D00;
  padding-bottom: 10px;
  font-size: 25px;
}

.formulario {
  padding-top: 90px;
  text-align: center;
  justify-content: center;
  width: 40%;
  align-items: center;
  margin-left: 30%;
}

.filtros {
  margin-top: 20px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

.ordenar {
  margin-bottom: 30px;
  padding: 20px;
  align-items: center;
}

header {
  display: grid;
  position: sticky;
  width: 100%;
  padding-top: 10px;
  grid-area: header;
}

/*# sourceMappingURL=style.css.map */
