.formulario {

    padding-top: 90px;
    text-align: center;
    justify-content: center;
    width: 40%;
    align-items: center;
    margin-left: 30%;

    @include borde_especial ($color,dotted)
}
