* {
    margin: 0px;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
  }

  body {
    min-height: 100vh;
}

a:hover{
  font-weight: bold;
  color: azure;
}

a:link{
  color:antiquewhite;
}

a:visited{
  color:green;
}